name: Publish docker image

on:
  push:
    branches:
      - master

jobs:

  build:
    name : build master branch
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-java@v2
        with:
          distribution: 'adopt' # See 'Supported distributions' for available options
          java-version: '11'
      
      - name: Maven Build & Sonar analysis
        run: mvn -B verify org.sonarsource.scanner.maven:sonar-maven-plugin:sonar
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}

#      - name: Login on Registry
#        run: echo ${{ secrets.CR_PAT }} | docker login ghcr.io -u $GITHUB_ACTOR --password-stdin
      - name: Setup GitHub Container Registry
        run: echo "$env:GH_PAT" | docker login https://ghcr.io -u $ --password-stdin
        
      - name: Pull previous image
        run: docker pull ghcr.io/univ-smb-m1-isc-2020/chuck-facts:latest

      - name: Build Docker image
        run: docker build . --tag ghcr.io/univ-smb-m1-isc-2020/chuck-facts:$GITHUB_SHA --cache-from ghcr.io/univ-smb-m1-isc-2020/chuck-facts:latest

      - name: Publish Docker image
        run: docker push ghcr.io/univ-smb-m1-isc-2020/chuck-facts:$GITHUB_SHA
        
